In [2]:
import pandas as pd
import yfinance as yf

In [33]:
# Getting test dataset to work with

hourDat_ori = yf.download('AAPL', interval='60m', start='2024-8-19', end='2024-10-10')
daily_ori = yf.download('AAPL', interval='1d', start='2024-8-19', end='2024-10-10')
thirty_ori = yf.download('AAPL', interval='30m', start='2024-8-19', end='2024-10-10')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [34]:
# Setting up the datetime indices and values
# Changing the column names to ease data identification

hourDat = hourDat_ori.copy()
daily = daily_ori.copy()
thirty = thirty_ori.copy()

hourDat.index = pd.to_datetime(hourDat.index, utc=True)
daily.index = pd.to_datetime(daily.index, utc=True)
thirty.index = pd.to_datetime(thirty.index, utc=True)
thirty.columns = ['T_' + colName for colName in thirty.columns]
hourDat.columns = ['H_' + originalColName for originalColName in hourDat.columns]
daily.columns = ['D_' + oriCol for oriCol in daily.columns]
thirty['MainIndex'] = thirty.index
thirty['JustDate'] = thirty.index.date
hourDat['JustDate'] = hourDat.index.date
daily['JustDate'] = daily.index.date

In [35]:
# Merging 30M and 1H dataframes based on matching indices (datetime)

testNoChange = pd.merge(thirty, hourDat,how='left', left_index=True, right_index=True)

In [36]:
# Verifying merge length is correct - right length should follow lenghth of left df before merging

print(f'Length before merging: {len(thirty)}')
print(f'Length after meging: {len(testNoChange)}')

Length before merging: 481
Length after meging: 481

In [37]:
testNoChange.head()

,T_Open,T_High,T_Low,T_Close,T_Adj Close,T_Volume,MainIndex,JustDate_x,H_Open,H_High,H_Low,H_Close,H_Adj Close,H_Volume,JustDate_y
Datetime,,,,,,,,,,,,,,,
2024-08-19 09:30:00+00:00,225.695007,225.695007,224.115997,224.380005,224.380005,5107625,2024-08-19 09:30:00+00:00,2024-08-19,225.695007,225.695007,223.039993,224.160004,224.160004,9670189.0,2024-08-19
2024-08-19 10:00:00+00:00,224.399994,224.520004,223.039993,224.160004,224.160004,4562564,2024-08-19 10:00:00+00:00,2024-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-19 10:30:00+00:00,224.160004,224.350006,223.490005,224.210007,224.210007,2141973,2024-08-19 10:30:00+00:00,2024-08-19,224.160004,224.729996,223.490005,224.430206,224.430206,4193053.0,2024-08-19
2024-08-19 11:00:00+00:00,224.210007,224.729996,223.929993,224.430206,224.430206,2051080,2024-08-19 11:00:00+00:00,2024-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-19 11:30:00+00:00,224.427597,224.649994,223.750000,223.864700,223.864700,1514451,2024-08-19 11:30:00+00:00,2024-08-19,224.427597,224.649994,223.750000,224.425003,224.425003,3379602.0,2024-08-19

In [38]:
mergedAll = pd.merge(testNoChange, daily, how='left', left_on='JustDate_x', right_on='JustDate')

In [39]:
# Verifying merge length is correct - right length should follow lenghth of left df before merging

print(f'Length before merging: {len(testNoChange)}')
print(f'Length after meging: {len(mergedAll)}')

Length before merging: 481
Length after meging: 481

In [40]:
mergedAll.head()

,T_Open,T_High,T_Low,T_Close,T_Adj Close,T_Volume,MainIndex,JustDate_x,H_Open,H_High,...,H_Adj Close,H_Volume,JustDate_y,D_Open,D_High,D_Low,D_Close,D_Adj Close,D_Volume,JustDate
0,225.695007,225.695007,224.115997,224.380005,224.380005,5107625,2024-08-19 09:30:00+00:00,2024-08-19,225.695007,225.695007,...,224.160004,9670189.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
1,224.399994,224.520004,223.039993,224.160004,224.160004,4562564,2024-08-19 10:00:00+00:00,2024-08-19,NaN,NaN,...,NaN,NaN,NaN,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2,224.160004,224.350006,223.490005,224.210007,224.210007,2141973,2024-08-19 10:30:00+00:00,2024-08-19,224.160004,224.729996,...,224.430206,4193053.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
3,224.210007,224.729996,223.929993,224.430206,224.430206,2051080,2024-08-19 11:00:00+00:00,2024-08-19,NaN,NaN,...,NaN,NaN,NaN,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
4,224.427597,224.649994,223.750000,223.864700,223.864700,1514451,2024-08-19 11:30:00+00:00,2024-08-19,224.427597,224.649994,...,224.425003,3379602.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19

In [41]:
mergedAll = mergedAll.set_index('MainIndex')
mergedAll.head()

,T_Open,T_High,T_Low,T_Close,T_Adj Close,T_Volume,JustDate_x,H_Open,H_High,H_Low,...,H_Adj Close,H_Volume,JustDate_y,D_Open,D_High,D_Low,D_Close,D_Adj Close,D_Volume,JustDate
MainIndex,,,,,,,,,,,,,,,,,,,,,
2024-08-19 09:30:00+00:00,225.695007,225.695007,224.115997,224.380005,224.380005,5107625,2024-08-19,225.695007,225.695007,223.039993,...,224.160004,9670189.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 10:00:00+00:00,224.399994,224.520004,223.039993,224.160004,224.160004,4562564,2024-08-19,NaN,NaN,NaN,...,NaN,NaN,NaN,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 10:30:00+00:00,224.160004,224.350006,223.490005,224.210007,224.210007,2141973,2024-08-19,224.160004,224.729996,223.490005,...,224.430206,4193053.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 11:00:00+00:00,224.210007,224.729996,223.929993,224.430206,224.430206,2051080,2024-08-19,NaN,NaN,NaN,...,NaN,NaN,NaN,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 11:30:00+00:00,224.427597,224.649994,223.750000,223.864700,223.864700,1514451,2024-08-19,224.427597,224.649994,223.750000,...,224.425003,3379602.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19

In [53]:
cleanNA = mergedAll.copy()
cleanNA = cleanNA.ffill()
cleanNA.iloc[10:15]

,T_Open,T_High,T_Low,T_Close,T_Adj Close,T_Volume,JustDate_x,H_Open,H_High,H_Low,...,H_Adj Close,H_Volume,JustDate_y,D_Open,D_High,D_Low,D_Close,D_Adj Close,D_Volume,JustDate
MainIndex,,,,,,,,,,,,,,,,,,,,,
2024-08-19 14:30:00+00:00,224.645004,224.919998,224.580002,224.785004,224.785004,1446587,2024-08-19,224.645004,224.949997,224.580002,...,224.929993,2814556.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 15:00:00+00:00,224.779999,224.949997,224.669998,224.929993,224.929993,1367969,2024-08-19,224.645004,224.949997,224.580002,...,224.929993,2814556.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-19 15:30:00+00:00,224.925003,225.970001,224.889999,225.899994,225.899994,4867293,2024-08-19,224.925003,225.970001,224.889999,...,225.899994,4867293.0,2024-08-19,225.720001,225.990005,223.039993,225.889999,225.889999,40687800,2024-08-19
2024-08-20 09:30:00+00:00,225.770004,227.169998,225.449997,227.020004,227.020004,5111798,2024-08-20,225.770004,227.169998,225.449997,...,226.660004,7693400.0,2024-08-20,225.770004,227.169998,225.449997,226.509995,226.509995,30299000,2024-08-20
2024-08-20 10:00:00+00:00,227.020004,227.080002,226.050003,226.660004,226.660004,2581602,2024-08-20,225.770004,227.169998,225.449997,...,226.660004,7693400.0,2024-08-20,225.770004,227.169998,225.449997,226.509995,226.509995,30299000,2024-08-20

In [43]:
cleanNA.iloc[8]

T_Open         224.029999
T_High         224.350006
T_Low          223.800003
T_Close        224.315002
T_Adj Close    224.315002
T_Volume          1330731
JustDate_x     2024-08-19
H_Open         224.029999
H_High         224.660004
H_Low          223.800003
H_Close        224.639999
H_Adj Close    224.639999
H_Volume        3556772.0
JustDate_y     2024-08-19
D_Open         225.720001
D_High         225.990005
D_Low          223.039993
D_Close        225.889999
D_Adj Close    225.889999
D_Volume         40687800
JustDate       2024-08-19
Name: 2024-08-19 13:30:00+00:00, dtype: object

In [44]:
cleanNA.iloc[10]

T_Open         224.645004
T_High         224.919998
T_Low          224.580002
T_Close        224.785004
T_Adj Close    224.785004
T_Volume          1446587
JustDate_x     2024-08-19
H_Open         224.645004
H_High         224.949997
H_Low          224.580002
H_Close        224.929993
H_Adj Close    224.929993
H_Volume        2814556.0
JustDate_y     2024-08-19
D_Open         225.720001
D_High         225.990005
D_Low          223.039993
D_Close        225.889999
D_Adj Close    225.889999
D_Volume         40687800
JustDate       2024-08-19
Name: 2024-08-19 14:30:00+00:00, dtype: object

In [45]:
hourDat.head(5)

,H_Open,H_High,H_Low,H_Close,H_Adj Close,H_Volume,JustDate
Datetime,,,,,,,
2024-08-19 09:30:00+00:00,225.695007,225.695007,223.039993,224.160004,224.160004,9670189,2024-08-19
2024-08-19 10:30:00+00:00,224.160004,224.729996,223.490005,224.430206,224.430206,4193053,2024-08-19
2024-08-19 11:30:00+00:00,224.427597,224.649994,223.750000,224.425003,224.425003,3379602,2024-08-19
2024-08-19 12:30:00+00:00,224.410004,224.464996,223.750000,224.024994,224.024994,2649753,2024-08-19
2024-08-19 13:30:00+00:00,224.029999,224.660004,223.800003,224.639999,224.639999,3556772,2024-08-19

In [46]:
hourDat.iloc[[1]]

,H_Open,H_High,H_Low,H_Close,H_Adj Close,H_Volume,JustDate
Datetime,,,,,,,
2024-08-19 10:30:00+00:00,224.160004,224.729996,223.490005,224.430206,224.430206,4193053,2024-08-19

In [52]:
thirty.iloc[2:5]

,T_Open,T_High,T_Low,T_Close,T_Adj Close,T_Volume,MainIndex,JustDate
Datetime,,,,,,,,
2024-08-19 10:30:00+00:00,224.160004,224.350006,223.490005,224.210007,224.210007,2141973,2024-08-19 10:30:00+00:00,2024-08-19
2024-08-19 11:00:00+00:00,224.210007,224.729996,223.929993,224.430206,224.430206,2051080,2024-08-19 11:00:00+00:00,2024-08-19
2024-08-19 11:30:00+00:00,224.427597,224.649994,223.750000,223.864700,223.864700,1514451,2024-08-19 11:30:00+00:00,2024-08-19

In [59]:
for index, row in hourDat.iterrows():
    if row.JustDate == daily.JustDate[0]:
        print('found match')
        break

found match

C:\Users\kywong\AppData\Local\Temp\ipykernel_9992\110502246.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row.JustDate == daily.JustDate[0]:

In [21]:
testChange = pd.to_datetime(hourDat.index, utc=True)

In [22]:
testChange[0]

Timestamp('2023-01-03 14:30:00+0000', tz='UTC')

In [24]:
testDay = pd.to_datetime(daily.index, utc=True)
testDay

DatetimeIndex(['2023-01-03 00:00:00+00:00', '2023-01-04 00:00:00+00:00',
               '2023-01-05 00:00:00+00:00', '2023-01-06 00:00:00+00:00',
               '2023-01-09 00:00:00+00:00', '2023-01-10 00:00:00+00:00',
               '2023-01-11 00:00:00+00:00', '2023-01-12 00:00:00+00:00',
               '2023-01-13 00:00:00+00:00', '2023-01-17 00:00:00+00:00',
               ...
               '2023-12-15 00:00:00+00:00', '2023-12-18 00:00:00+00:00',
               '2023-12-19 00:00:00+00:00', '2023-12-20 00:00:00+00:00',
               '2023-12-21 00:00:00+00:00', '2023-12-22 00:00:00+00:00',
               '2023-12-26 00:00:00+00:00', '2023-12-27 00:00:00+00:00',
               '2023-12-28 00:00:00+00:00', '2023-12-29 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=250, freq=None)