In [1]:
import sqlite3
import pandas as pd
import keyboard

## Setting up SQLite3

python package comes with sqlite3 by default, so there is no need to download or install anything extra.

To setup a sqlite3 database locally, just connect to the name of the database (i.e. ```myDatabase.db```)

Note, if the database does not exist at runtime, it will be created. If it does exist, it will make a connection to the database.

In [ ]:
connection = sqlite3.connect('')

## SQL Commands

### Creating a NEW Table

Datatypes in SQLite
1. NULL
2. INTEGER - Whole Numbers (1, 2, 3, etc.)
3. REAL - Decimal Numbers (i.e. 1.234)
4. TEXT - String
5. BLOB - Custom Object (Think class objects. I.e. Image, sound data, etc)

In [ ]:
newTableQuery = """
    CREATE TABLE your_table_name(
        table_column_1 DATATYPE,
        table_column_2 DATATYPE,
        table_column_3 DATATYPE
    )
"""

### Adding items to the table

### Updating Table Items

### Deleting Table Items

### Reading from Table

## Reading SQLite to Pandas DataFrame

In [2]:
connection = sqlite3.connect('C:\\Users\\kywong\\Desktop\\MyVSCodeProjects\\ML_Playground_Python\\firstSQLiteDB.db')
df = pd.read_sql_query('SELECT * FROM customers', connection)

df.head()

  first_name last_name                     email
0       John   Burgers   burgers@johndonalds.com
1      steve            burgers@stevedonalds.com
2        Doe      John              John@doe.com
3      Steph     Kuewa           steph@kuewa.com
4       Some       Guy              guy@some.com